.FinishedQuiz{
    padding: 20px;
    color: #FFF;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;

    & p{
        padding: 20px 0 20px 0;
    }
    & ul{
        list-style: none;
        padding: 0;
        margin: 0;

        & li{

            & i{
                margin-left: 10px;
            }
        }
    }
}
.error{
    color: rgba(240,87,180,.7);
}
.success {
    color: rgba(161,240,69,.7);
}
